In [1]:
import pandas as pd

In [2]:
ad_dup = pd.DataFrame(pd.read_csv("ad_dup.csv"))
weight = pd.DataFrame(pd.read_csv("weight.csv"))
birth = pd.DataFrame(pd.read_csv("birth.csv"))
primary = pd.DataFrame(pd.read_csv("primary.csv"))

In [3]:
info = ad_dup
info

,subject_id,hadm_id,admittime,diagnosis
0,10059,142582,2150-08-07 21:40:00,VARICEAL BLEED
1,10059,122098,2150-08-22 17:33:00,LOWER GI BLEED
2,10088,169938,2107-01-04 11:59:00,SEPSIS;PNEUMONIA;TELEMETRY
3,10088,168233,2107-01-29 04:00:00,CONGESTIVE HEART FAILURE
4,10088,149044,2107-05-12 18:00:00,UROSEPSIS
5,10094,168074,2180-02-29 18:54:00,HYPOTENSION;TELEMETRY
6,10094,122928,2180-03-15 22:35:00,SEPSIS;TELEMETRY
7,10117,187023,2138-06-05 17:23:00,FEVER
8,10117,105150,2138-11-09 18:08:00,FEVER
9,10119,157466,2117-08-05 18:27:00,ACUTE CHOLECYSTITIS
10,10119,165436,2117-08-21 06:58:00,GASTROINTESTINAL BLEED
11,10124,182664,2192-03-26 15:30:00,LEFT HIP FRACTURE
12,10124,170883,2192-04-16 20:57:00,CONGESTIVE HEART FAILURE
13,40124,126179,2130-02-04 02:26:00,SHORTNESS OF BREATH
14,40124,146893,2130-08-12 05:49:00,PNEUMONIA
15,40310,186361,2144-07-11 15:02:00,FACIAL NUMBNESS
16,40310,157609,2144-12-24 16:16:00,AROMEGLEY;BURKITTS LYMPHOMA
17,41795,138132,2145-07-07 01:19:00,ASTHMA;CHRONIC OBST PULM DISEASE
18,41795,118192,2145-09-06 08:52:00,ASTHMA;CHRONIC OBST PULM DISEASE
19,41976,125449,2198-10-29 06:54:00,PNEUMONIA
20,41976,173269,2199-01-13 17:13:00,HYPOTENSION;UNRESPONSIVE
21,41976,176016,2199-01-31 22:26:00,SEPSIS
22,41976,172082,2200-03-17 20:32:00,PNEUMONIA
23,41976,152032,2200-06-09 16:14:00,PNEUMONIA
24,41976,130681,2200-10-29 20:46:00,FEVER
25,41976,180546,2201-05-12 10:49:00,SEPSIS
26,41976,174863,2201-08-10 23:00:00,URINARY TRACT INFECTION;PYELONEPHRITIS
27,41976,125013,2201-09-28 16:47:00,SEPSIS
28,41976,155297,2201-11-16 23:00:00,SEPSIS; UTI
29,41976,179418,2201-12-31 19:19:00,PNEUMONIA
30,41976,151798,2202-02-15 19:01:00,UTI/PYELONEPHRITIS
31,41976,145024,2202-05-01 22:00:00,RESPIRATORY DISTRESS
32,41976,149469,2202-09-16 21:56:00,SEPSIS
33,41976,153826,2202-10-03 01:45:00,SEPSIS
34,42135,102203,2127-07-23 15:21:00,FAILURE TO THRIVE
35,42135,117105,2127-10-06 21:00:00,HEPATIC ENCEP
36,42346,180391,2160-12-16 13:47:00,PNEUMONIA
37,42346,175880,2160-12-26 11:45:00,VOLVULUS
38,43881,172454,2104-09-24 17:31:00,ACUTE PULMONARY EMBOLISM
39,43881,167021,2104-10-24 09:44:00,UPPER GI BLEED
40,44083,125157,2112-05-04 08:00:00,ESOPHAGEAL CA/SDA
41,44083,131048,2112-05-22 15:37:00,SHORTNESS OF BREATH
42,44083,198330,2112-05-28 15:45:00,PERICARDIAL EFFUSION

In [4]:
import time

DT_FORMAT='%Y-%m-%d %H:%M:%S'

def year(time_: str) -> float:
    t = time.strptime(time_, DT_FORMAT)
    return time.mktime(t) / (365 * 86400)

In [5]:
birth_dict = birth.set_index('subject_id').to_dict()['dob']
weight_dict = weight.set_index('hadm_id').to_dict()['patientweight']
primary_dict = primary.set_index('hadm_id').to_dict()['primary']

In [6]:
info["birthtime"] = info["subject_id"].map(birth_dict)
info["age"] = info["admittime"].map(year) - info["birthtime"].map(year)

info["weight"] = info["hadm_id"].map(weight_dict)

info["primary"] = info["hadm_id"].map(primary_dict)

In [7]:
info = info[pd.isna(info["weight"]) == False]
info = info[["subject_id", "age", "weight", "primary"]]
info = info.sort_values(by=["subject_id", "age"])
info

    subject_id        age  weight primary
13       40124  66.630415    41.5       4
14       40124  67.148609    47.4       4
15       40310  40.629113    81.7      27
16       40310  41.084049    74.5     707
17       41795  48.980972   141.7      27
18       41795  49.148957   139.0      42
19       41976  62.296678    69.8     707
20       41976  62.506075    76.6      38
21       41976  62.555986    70.0     707
22       41976  63.679056    75.8      27
23       41976  63.908702    74.9       4
24       41976  64.298261    72.8       3
25       41976  64.831372    80.5     707
26       41976  65.079338    77.7     707
27       41976  65.212875    70.0      27
28       41976  65.347831    78.9      27
29       41976  65.470698    74.8       3
30       41976  65.596691    74.1     707
31       41976  65.802511    73.4     438
34       42135  43.867506    64.6      57
35       42135  44.073630    58.6      57
36       42346  88.094724    79.8       4
37       42346  88.121889    83.0      39
38       43881  53.541726    95.0      19
39       43881  53.623029    86.3      19
40       44083  54.502283   105.0      15
41       44083  54.552468    98.6      51
42       44083  54.568921    99.6      42

In [14]:
primary_set = set(info["primary"])
primary_set

{'15', '19', '27', '3', '38', '39', '4', '42', '438', '51', '57', '707'}

In [22]:
num_dict = dict(zip(primary_set, range(len(primary_set))))
disease_dict = dict(zip(range(len(primary_set)), primary_set))
num_dict

{'4': 0,
 '27': 1,
 '51': 2,
 '42': 3,
 '19': 4,
 '38': 5,
 '707': 6,
 '438': 7,
 '15': 8,
 '3': 9,
 '39': 10,
 '57': 11}

In [23]:
disease_dict

{0: '4',
 1: '27',
 2: '51',
 3: '42',
 4: '19',
 5: '38',
 6: '707',
 7: '438',
 8: '15',
 9: '3',
 10: '39',
 11: '57'}

In [25]:
import json
import datetime
import numpy as np


class JsonEncoder(json.JSONEncoder):

    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        elif isinstance(obj, np.floating):
            return float(obj)
        elif isinstance(obj, np.ndarray):
            return obj.tolist()
        elif isinstance(obj, datetime):
            return obj.__str__()
        else:
            return super(MyEncoder, self).default(obj)


def save_dict(filename, dic):
    '''save dict into json file'''
    with open(filename, 'w') as json_file:
        json.dump(dic, json_file, ensure_ascii=False, cls=JsonEncoder)


def load_dict(filename):
    '''load dict from json file'''
    with open(filename, "r") as json_file:
        dic = json.load(json_file)
    return dic

In [26]:
save_dict("disease_dict.json", disease_dict)

In [27]:
load_dict("disease_dict.json")

{'0': '4',
 '1': '27',
 '2': '51',
 '3': '42',
 '4': '19',
 '5': '38',
 '6': '707',
 '7': '438',
 '8': '15',
 '9': '3',
 '10': '39',
 '11': '57'}

In [18]:
info["primary"] = info["primary"].map(num_dict)
info

    subject_id        age  weight  primary
13       40124  66.630415    41.5        0
14       40124  67.148609    47.4        0
15       40310  40.629113    81.7        1
16       40310  41.084049    74.5        6
17       41795  48.980972   141.7        1
18       41795  49.148957   139.0        3
19       41976  62.296678    69.8        6
20       41976  62.506075    76.6        5
21       41976  62.555986    70.0        6
22       41976  63.679056    75.8        1
23       41976  63.908702    74.9        0
24       41976  64.298261    72.8        9
25       41976  64.831372    80.5        6
26       41976  65.079338    77.7        6
27       41976  65.212875    70.0        1
28       41976  65.347831    78.9        1
29       41976  65.470698    74.8        9
30       41976  65.596691    74.1        6
31       41976  65.802511    73.4        7
34       42135  43.867506    64.6       11
35       42135  44.073630    58.6       11
36       42346  88.094724    79.8        0
37       42346  88.121889    83.0       10
38       43881  53.541726    95.0        4
39       43881  53.623029    86.3        4
40       44083  54.502283   105.0        8
41       44083  54.552468    98.6        2
42       44083  54.568921    99.6        3

In [28]:
info.to_csv("train_data.csv", index=None)