In [1]:
import pandas as pd 
import numpy as np

In [2]:
data_path = 'train_data.csv'
train_data = pd.DataFrame(pd.read_csv(data_path), index=None)
train_data

    subject_id        age  weight  primary
0        40124  66.630415    41.5        0
1        40124  67.148609    47.4        0
2        40310  40.629113    81.7        1
3        40310  41.084049    74.5        6
4        41795  48.980972   141.7        1
5        41795  49.148957   139.0        3
6        41976  62.296678    69.8        6
7        41976  62.506075    76.6        5
8        41976  62.555986    70.0        6
9        41976  63.679056    75.8        1
10       41976  63.908702    74.9        0
11       41976  64.298261    72.8        9
12       41976  64.831372    80.5        6
13       41976  65.079338    77.7        6
14       41976  65.212875    70.0        1
15       41976  65.347831    78.9        1
16       41976  65.470698    74.8        9
17       41976  65.596691    74.1        6
18       41976  65.802511    73.4        7
19       42135  43.867506    64.6       11
20       42135  44.073630    58.6       11
21       42346  88.094724    79.8        0
22       42346  88.121889    83.0       10
23       43881  53.541726    95.0        4
24       43881  53.623029    86.3        4
25       44083  54.502283   105.0        8
26       44083  54.552468    98.6        2
27       44083  54.568921    99.6        3

In [3]:
T = dict()

In [4]:
set(train_data["subject_id"])

{40124, 40310, 41795, 41976, 42135, 42346, 43881, 44083}

In [5]:
for s in set(train_data["subject_id"]):
    T[s] = train_data.loc[train_data["subject_id"] == s, ["age", "weight", "primary"]]

In [6]:
T[41795]

         age  weight  primary
4  48.980972   141.7        1
5  49.148957   139.0        3

In [11]:
u = np.random.rand(2, 2)

In [12]:
u

array([[0.759826  , 0.63254585],
       [0.7829319 , 0.06613931]])

In [13]:
u[0] @ T[41795].iloc[0, :2]

126.84876324757423

In [14]:
u[0]

array([0.759826  , 0.63254585])

In [30]:
t = T[41976].iloc[:,0].values
%timeit np.searchsorted(t, 63)
# t

1.12 µs ± 15.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [31]:
t = T[41976].iloc[:,0].values
%timeit np.argmax(t < 63)

1.94 µs ± 29.4 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [32]:
%timeit len(t<63)

913 ns ± 30 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)